<div class="jw-profile-large">
  <img src="{{user.profile_picture}}" style=  "display: block;  margin-left:auto; margin-right: auto" />
      <div class="profile-info" >
      <p style = "text-decoration:bold;" >
        Username: {{user.username}}
      </p>
      <p >
        Full Name : {{user.full_name}}
      </p>
      <p>
        Bio : {{user.bio}}
      </p>
      <p>
        Website : <a href="{{user.website}}">{{user.website}}</a>
      </p>
    </div>
</div>
<div class="updateProfile">
  <p>
    <a href="/user/updateprofile"><button type="button" class='updatebutton'>Click here to update your profile!</button></a>
  </p>
    {{#if success}}
    <p>
      {{success}}
    </p>
    {{/if}}
</div>
